@using GameBoardShop.ViewModels;
@model ConfirmDeleteVM


<!-- Button trigger modal -->
<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
    Delete<i class="bi bi-trash ms-2"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure to delete @Model.ItemName</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form method="post">
                    <button asp-controller="@Model.ControllerName" asp-action="Delete" asp-route-id="@Model.Id" type="submit" class="btn btn-primary">Delete</button>
                </form>
                
            </div>
        </div>
    </div>
</div>